<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
		<link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="../bootstrap/css/bootstrap-responsive.css">
		<link rel="stylesheet" type="text/css" href="main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<title>AVAILABLE VEHICLES</title>
</head>
<body>
	<center><div class="tit"><h2>AVAILABLE VEHICLES</h2>
        <h3>Please, copy the plate of the car you want to buy</h3>
        
              <ul class="quotes">
                <table id="carsInfo" border="1">
                    <tr>
                        <th>Plate</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Year</th>
                    </tr>
                    <tr>
              <% for(var i=0; i<quotes.length; i++) {%>
                <div class="quote">
                          <td><span><%= quotes[i].plate %></span></td>
                          <td><span><%= quotes[i].brand %></span></td>
                          <td><span><%= quotes[i].model %></span></td>
                          <td><span><%= quotes[i].year %></span></td>
                </div>
                    </tr>
              <% } %>
                </table>
              </ul>
   
    <input  class="btn btn-primary" type="button" name="return" value="Return" onclick = "location='index.html'"/>
    <input  class="btn btn-primary" type="button" name="continue" value="Continue buying" onclick = "location='indexUserFindCar.html'"/>

  </fieldset>
</form>
</div>
<?php
		if(isset($_POST['submit'])){
			require("viewCars.php");
		}
	?>
<!--Fin formulario registro -->

		</td>
		</tr>
		</table>
		</div></center></div></center>

	
</body>
</html>